.img {
margin-left: 50px;
}
.Contact{
margin-left: 3.5%;
}
body{
    background-image: url();
}
/* css bảng
/* table, th, td{
    border: 1px solid black;
    padding: 10px;
} */ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}